.square-box{
  border: 3px solid black;
  height: 500px;
  width: 700px;
  padding: 20px;
  margin: auto;
}
.left-box{
  border: 2px solid black;
  height: 450px;
  width: 325px;
  margin-top: 20px;
  float: left;
}
.right-box{
  border: 2px solid black;
  height: 450px;
  width: 325px;
  margin-top: 20px;
  float: right;
}
