.appBox {
  border: 2px solid black;
  width: 900px;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;

}

.diceBox {
  border: 2px solid black;
  padding: 10px;
  height: 400px;
  width: 400px;


}

.rollsBox {
  border: 2px solid black;
  padding: 10px;
  height: 400px;
  width: 400px;
}